.active {
  transform: scale(1.2);
  transition: all 0.1s linear;
}
.home .post img {
  position: absolute;
  top: 20px;
  left: -100px;
  opacity: 0.6;
}
.home .post {
  overflow: hidden;
  padding-left: 80px;
}